<div style="text-align:center; width:500px; font-size: 25px">
    <img style="margin:auto 0;" src="icon.png" />
    <br />
    EASY TRM v 0.1
    <hr width="80%" />
    <h5>Thanks for installation!</h5>
    <h6>Our git link <a href="https://gitlab.com/yachmenov_c_/ymusic_easy_trm" target="_blank">here</a>.</h6>
    <h6>Author: Yaroslav Yachmenov</h6>
</div>